<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
  <p><%= image_tag("boot.png", :alt => "bootstrap") %></p>
  <p>To get help on this sample app, see the 
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>. Or visit <a href="http://www.w3schools.com/bootstrap/default.asp">Bootstrap Tutorial on w3 schools</a>for an online guide to bootstrapping</p>
</p>
