<h2>Welcome Boot-Strapped Toy App Site</h2>
<p>Here you can explore different products and signup at the customers page to learn more about the app. </p>
<p><%= image_tag("shag.jpg", :alt => "toy", :class => "img-circle") %></p>
<p>This site has combined a number of ideas from the RailsTutorial.org Online Book (the link to which you can find on help page) and created a mash-up of ToyApp and Bootstrap. Also, the site is tested using brakeman,reek and rubocop.</p>
