<!DOCTYPE html>
<html>
  <head>
    <title>BootStrapped Toyapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container'>
    <div class="page-header">
      <h1 class="text-info"><b>ONLINE TOY APP</b></h1>
      </div>
      <nav class="navbar navbar-default">
  <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li role="presentation"><a href="/static_pages/home">Home</a></li>
        <li role="presentation"><a href="/customers">Customers</a></li>
        <li role="presentation"><a href="/items">Items</a></li>
        <li role="presentation"><a href="/static_pages/help">Help</a></li>
      </ul>
      </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
